body{
	background-color: mediumpurple;
	text-align: center;
}

.button{
	display: inline-block;
	background-color: white;
	color: black;
	padding: 20px 40px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 10px;
	transition: background-color: 300ms;
}

.cool{
	visibility: hidden;
	width: 100px;
	height: 100px;
	background-color: green;
	transition: background-color 2S;
}

.cool.red{
	visibility: visible;
	background-color: red;
}